h2{
color :black;
border: solid currentColor darkgray;
left: 200px;
right: 200px;
font: normal 25px 'Cookie', cursive;
text-decoration: underline;
text-decoration-color: darkcyan;
}
 h1{ 
    font-size: 4em;
    background-color:rgb(146, 146, 146);
    border-color:darkcyan;
    border-style: double;
    text-align: center;
   }
   body{
      background-color:silver;
      border-color: black;
      border-style: groove;
   }
     
   h3{
      font: normal 30px 'Cookie', cursive;
      position: relative;
      text-align: center;
      text-decoration: underline;
   }
   img{
      position:absolute;
      left: 1150px;
      top: 150px;
      border: double 8px;
   }
   dl{
      position: relative;
      left: 50px;
      font: normal 20px 'Cookie', small;
     
   }
   dd{
      font: normal 20px 'Cookie', small;
      text-decoration: underline;
   }
   ul{
      font: normal 20px 'Cookie', small;
      text-decoration: underline;

   }
   
   
   

