h2{
color :white;
border: solid currentColor darkgray;
left: 200px;
right: 200px;
font: normal 25px 'Cookie', cursive;
text-decoration: underline;
text-decoration-color: white;
position: relative;
left: 0px;
background-color: rgb(63, 63, 63);
border: double ;
border-color: white ;
}
 h1{ 
    color: white;
    font-size: 4em;
    background-color:rgb(63, 63, 63);
    border-color:white;
    border-style: double;
    text-align: center;
   }
   body{
      background-color:rgb(147, 233, 224);
      border-color: black;
      border-style: groove;
   }
     
   h3{
      font: normal 30px 'Cookie', cursive;
      position: relative;
      left: 5px;
      text-decoration: underline;
   }
   img{
      position:absolute;
      left: 1350px;
      top: 180px;
      border: double 8px;
   }
   dl{
      position: relative;
      left: 50px;
      font: normal 20px 'Cookie', bold;
      
     
   }
   dd{
      font: normal 20px 'Cookie', bold;
      text-decoration: underline;
      
   }
   ul{
      font: normal 20px 'Cookie', bold;
      

   }
   
   
   

   
   

